name: Run reproduction
on: [push, pull_request]

jobs:
    run:
        name: Run
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2.0.0

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16

            - name: Run
              run: ./run.sh

            - name: Upload Results
              uses: actions/upload-artifact@v3
              with:
                  name: typedoc-output
                  path: docs
